---
layout: default
comments: true
---

<div class="post">

    <a class="post__back" href="/">&lt;-- home</a>
    <h1 class="post__title">{{ page.title }}</h1>
    <p class="post__date">{{ page.date | date: '%B %-d, %Y' }}</p>
    <p class="post__meta">{{ tags_content }}</p>
    <div class="post__content"?>
        {{ content }}
    </div>
    
</div>

<div id="disqus_thread"></div>
<script>

var disqus_config = function () {
    this.page.url = "{{site.url}}{{site.url}}";  
    this.page.identifier = "{{site.id}}"; 
};

(function() { 
    var d = document, s = d.createElement('script');
    s.src = '//mustafasevim.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
